# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Data caches
*.sqlite3
*.db
*.csv
*.json
*.zip

# Reports (optional if you want to push PDF reports, otherwise keep them local)
reports/

